<header>
  <div class="logo" routerLink="/" (click)="closeMenu()">
    <img src="/crown.png" alt="Unique Logo">
    <h1>Unique</h1>
  </div>

  <nav id="navItems" [class.active]="isMenuOpen">
      <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}" (click)="closeMenu()">Home</a>
      <a routerLink="/menu" routerLinkActive="active" (click)="closeMenu()">Menu</a>
      <a routerLink="/blog" routerLinkActive="active" (click)="closeMenu()">Blog</a>
      <a routerLink="/story" routerLinkActive="active" (click)="closeMenu()">Our Story</a>
      <a routerLink="/events" routerLinkActive="active" (click)="closeMenu()">Event Types</a>
      <a routerLink="/book" routerLinkActive="active" class="btn-book" (click)="closeMenu()">Book a Table</a>
  </nav>

  <label class="burger" for="burger">
    <input type="checkbox" id="burger" [checked]="isMenuOpen" (change)="toggleMenu()">
    <span></span>
    <span></span>
    <span></span>
  </label>
</header>