
main {
  background-color: #000;
  width: 100%;
  overflow-x: hidden;
}

.hero {
  min-height: 100vh;
  width: 100%;

  background: linear-gradient(rgba(0, 0, 0, 0.311), rgba(0, 0, 0, 0.388)), 
              url('/bg.png') center/cover no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #fff;
}

.hero-content {
  width: 90%;
  max-width: 1200px;
  padding: 40px 0;
}




.subtitle { 
  font-size: 110px !important;
  color: #c1ac66;
  line-height: 1.1;
  margin: 0 auto 12px auto;
  font-weight: 700;
  font-family: "Bitter Rose", cursive;
 
}

.description {
  font-size: 1.8rem;
  line-height: 1.8;
  color: rgba(255, 255, 255, 0.8);
  max-width: 600px;
  margin: 0 auto 0 auto;
  margin-bottom: 0px;
}




@media (max-width: 768px) {
  .hero-content p {
    width: 90%;
  }
  .subtitle {
    font-size: 3rem;
  }
}